<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckPermission</key>
	<string>SYBCheckPermissionController</string>
	<key>SelectMerchantType</key>
	<string>SYBSelectMerchantTypeController</string>
	<key>Receivables</key>
	<string>SYBReceivablesController</string>
	<key>BalanceView</key>
	<string>SYBBalanceViewController</string>
	<key>HomeBill</key>
	<string>SYBHomeBillController</string>
	<key>HomeStoreDetail</key>
	<string>SYBHomeStoreDetailController</string>
	<key>FansView</key>
	<string>SYBFansViewController</string>
	<key>StaffView</key>
	<string>SYBStaffViewController</string>
	<key>Membership</key>
	<string>SYBMembershipController</string>
	<key>MemberShipMarket</key>
	<string>SYBMemberShipMarketController</string>
	<key>MoreFunction</key>
	<string>SYBMoreFunctionController</string>
	<key>StoreList</key>
	<string>SYBStoreListViewController</string>
	<key>TradeDetail</key>
	<string>SYBTradeDetailViewController</string>
	<key>ShareView</key>
	<string>SYBShareViewController</string>
	<key>UploadView</key>
	<string>SYBUploadViewController</string>
	<key>ExtensionView</key>
	<string>SYBExtensionViewController</string>
	<key>SalesmanList</key>
	<string>SYBSalesmanListController</string>
	<key>AuthMo</key>
	<string>SYBAuthMoController</string>
	<key>EditContent</key>
	<string>SYBEditContentController</string>
	<key>ChangeTest</key>
	<string>SYBChangeTestController</string>
	<key>NextPromote</key>
	<string>SYBNextPromoteController</string>
	<key>AddPromote</key>
	<string>SYBAddPromoteController</string>
	<key>FilterPromote</key>
	<string>SYBFilterPromoteController</string>
	<key>PromoteFunc</key>
	<string>SYBPromoteFuncController</string>
	<key>AddTestData</key>
	<string>SYBAddTestDataController</string>
	<key>ExtensionFilter</key>
	<string>SYBExtensionFilterController</string>
	<key>PromoteExtension</key>
	<string>SYBPromoteExtensionController</string>
	<key>PerfectInfo</key>
	<string>SYBPerfectInfoController</string>
	<key>InputBaseInfo</key>
	<string>SYBInputBaseInfoController</string>
	<key>InputLicense</key>
	<string>SYBInputLicenseController</string>
	<key>InputLegalInfo</key>
	<string>SYBInputLegalInfoController</string>
	<key>InputSettleInfo</key>
	<string>SYBInputSettleInfoController</string>
	<key>MerchantAuthInfo</key>
	<string>SYBMerchantAuthInfoController</string>
	<key>MerberShipActivityDetail</key>
	<string>SYBMerberShipActivityDetailController</string>
	<key>CreateRechargeActivity</key>
	<string>SYBCreateRechargeActivityController</string>
	<key>PlugIn</key>
	<string>SYBPlugInController</string>
	<key>PlugInApply</key>
	<string>SYBPlugInApplyController</string>
	<key>PlugInRate</key>
	<string>SYBPlugInRateController</string>
	<key>PlugInBill</key>
	<string>SYBPlugInBillController</string>
	<key>PlugInRealBill</key>
	<string>SYBPlugInRealBillController</string>
	<key>MerchantWeChatAuth</key>
	<string>SYBMerchantWeChatAuthController</string>
	<key>TradeBill</key>
	<string>SYBTradeBillController</string>
	<key>HomeBillScreen</key>
	<string>SYBHomeBillScreenController</string>
	<key>CashPoint</key>
	<string>SYBCashPointController</string>
	<key>AddCashPoint</key>
	<string>SYBAddCashPointController</string>
	<key>SelectCashMerchant</key>
	<string>SYBSelectCashMerchantController</string>
	<key>CashPointCode</key>
	<string>SYBCashPointCodeController</string>
	<key>CashPointDetail</key>
	<string>SYBCashPointDetailController</string>
	<key>AddCashStaff</key>
	<string>SYBAddCashStaffController</string>
	<key>SelectStaffMerchant</key>
	<string>SYBSelectStaffMerchantController</string>
	<key>CashStaffDetail</key>
	<string>SYBCashStaffDetailController</string>
	<key>StaffSignIn</key>
	<string>SYBStaffSignInController</string>
	<key>StaffMerchantList</key>
	<string>SYBStaffMerchantListController</string>
	<key>StaffSignInDetail</key>
	<string>SYBStaffSignInDetailController</string>
	<key>StaffSignInRecord</key>
	<string>SYBStaffSignInRecordController</string>
	<key>CashDeviceList</key>
	<string>SYBCashDeviceListController</string>
	<key>AddCashCode</key>
	<string>SYBAddCashCodeController</string>
	<key>SelectCashPoint</key>
	<string>SYBSelectCashPointController</string>
	<key>CashPointSuc</key>
	<string>SYBCashPointSucController</string>
	<key>RefundCheck</key>
	<string>SYBRefundCheckController</string>
	<key>PaymentFriend</key>
	<string>SYBPaymentFriendController</string>
	<key>ManageWord</key>
	<string>SYBManageWordController</string>
	<key>FunctionGuide</key>
	<string>SYBFunctionGuideController</string>
	<key>PayPassword</key>
	<string>SYBPayPasswordController</string>
	<key>ChangePayPassword</key>
	<string>SYBChangePayPasswordController</string>
	<key>ForgetPayPassword</key>
	<string>SYBForgetPayPasswordController</string>
	<key>ResetPayPassword</key>
	<string>SYBResetPayPasswordController</string>
	<key>BindInviteCode</key>
	<string>SYBBindInviteCodeController</string>
	<key>AuthInfoView</key>
	<string>SYBAuthInfoViewController</string>
	<key>MerchantList</key>
	<string>SYBMerchantListController</string>
	<key>SafeQuestion</key>
	<string>SYBSafeQuestionViewController</string>
	<key>VoiceSetting</key>
	<string>SYBVoiceSettingViewController</string>
	<key>Faceback</key>
	<string>SYBFacebackViewController</string>
	<key>HelpVideo</key>
	<string>SYBHelpVideoViewController</string>
	<key>ContactService</key>
	<string>SYBContactServiceViewController</string>
	<key>DeviceManage</key>
	<string>SYBDeviceManageController</string>
	<key>AuthInfo</key>
	<string>SYBAuthInfoViewController</string>
	<key>BalanceWithdraw</key>
	<string>SYBBalanceWithdrawController</string>
	<key>CashPointSignRecord</key>
	<string>SYBCashPointSignRecordController</string>
	<key>ChangeStaffPassword</key>
	<string>SYBChangeStaffPasswordController</string>
	<key>SelectBusinessCategory</key>
	<string>SYBSelectBusinessCategoryController</string>
	<key>WithdrawSet</key>
	<string>SYBWithdrawSetController</string>
	<key>RealTimeReceipt</key>
	<string>SYBRealTimeReceiptController</string>
	<key>ChangeWithdrawType</key>
	<string>SYBChangeWithdrawTypeController</string>
	<key>GuideQuestion</key>
	<string>SYBGuideQuestionController</string>
	<key>SelectLocationInfo</key>
	<string>SYBSelectLocationInfoController</string>
	<key>BindAlipayAccount</key>
	<string>SYBBindAlipayAccountController</string>
	<key>MerchantDetailInfo</key>
	<string>SYBMerchantDetailInfoController</string>
	<key>FacePreDetail</key>
	<string>SYBFacePreDetailController</string>
	<key>MerchantRateDetail</key>
	<string>SYBMerchantRateDetailController</string>
	<key>MerchantRateChangeRecord</key>
	<string>SYBMerchantRateChangeRecordController</string>
	<key>RateDetail</key>
	<string>SYBMyRateDetailController</string>
	<key>PromoteMerchantList</key>
	<string>SYBPromoteMerchantListController</string>
	<key>PromoteMerchantFilter</key>
	<string>SYBPromoteMerchantFilterController</string>
</dict>
</plist>
